<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.archive.autodetection">class,hbm</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xyz</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">ennova</property>		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.acquire_increment">1800</property>
		<property name="hibernate.c3p0.max_statements">150</property>

		
		<mapping class="com.ennova_research.academy.xyzspring.dao.model.BoUser" />
		<mapping class="com.ennova_research.academy.xyzspring.dao.model.BoUserRole" />
		<mapping class="com.ennova_research.academy.xyzspring.dao.model.Course" />
		<mapping class="com.ennova_research.academy.xyzspring.dao.model.Partecipant" />
        <mapping class="com.ennova_research.academy.xyzspring.dao.model.RegisteredUser" />
        <mapping class="com.ennova_research.academy.xyzspring.dao.model.RegisteredUserRole" />
	</session-factory>
</hibernate-configuration>